<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.rest.TC001_SearchProject"/>
      <class name="tests.rest.TC002_CreateIssue"/>
      <class name="tests.rest.TC002_DeleteIssue1"/>
      <class name="tests.rest.TC002_updateIssue1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
